<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627378669023-vteqruvjkajut1tq1t00j7udusfbaj9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627378669023-vteqruvjkajut1tq1t00j7udusfbaj9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBu0UXf2iEpz49L4eMi_GmeIRiI0DNNBXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>627378669023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ir.coderats.instagraph</string>
	<key>PROJECT_ID</key>
	<string>instagraph-kian</string>
	<key>STORAGE_BUCKET</key>
	<string>instagraph-kian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627378669023:ios:f3f0fab6a78feacccab06a</string>
</dict>
</plist>